---
import BaseLayout from './BaseLayout.astro';
import SpotlightHeader from '../components/SpotlightHeader.astro';
import SpotlightFooter from '../components/SpotlightFooter.astro';

export interface Props {
  title: string;
  description?: string;
  image?: string;
  lang?: 'zh' | 'en';
}

const props = Astro.props;
---

<BaseLayout {...props}>
  <div class="w-full">
    <SpotlightHeader />
    <main class="main-content">
      <slot />
    </main>
    <SpotlightFooter />
  </div>
</BaseLayout>

<style>
  .main-content {
    min-height: calc(100vh - 11rem);
  }
</style>
